@model List<DepartamentoModel>;
@{
    ViewData["Title"] = "pagina de departamento";

}

<div class="text-center">
    <h1 class="display-4">Pagina departamento</h1>
    <br />
</div>



<table class="table" >
  <thead>
    <tr>
      <th scope="col">Código</th>
            <th scope="col">nomeDepartamento</th>
            <th scope="col">mesVigencia</th>
            <th scope="col">anoVigencia</th>
            <th scope="col">totalPagar</th>         
    </tr>
  </thead>
  <tbody>
        @if(Model != null && Model.Any())
        {
            foreach(DepartamentoModel departamento in Model)
            {
                <tr>
                    <td>@departamento.codigo</td>
                    <td>@departamento.nomeDepartamento</td>
                    <td>@departamento.mesVigencia</td>
                    <td>@departamento.anoVigencia</td>
                    <td>@departamento.totalPagar.ToString("N2")</td>
                    <td><a class="btn btn-success" asp-route-id="@departamento.codigo" asp-controller="Funcionario" asp-action="Index">Revisar</a></td>
                </tr>
            }
        }

   
  </tbody>
    
</table>
